# sign
# ↓ here goes your private key
KEY=4h8ir5aba81u2b4sb50sr###########
# ↓ currently MD5 supported only
sign_type=MD5
sec_id=MD5

# NAME
account_name=# fill your company name here, which MUST be same as the one you registered on alipay.com

# PID
# PID not actually used, fill other parameter follow this↓ sample
#PID=2088511844407314
partner=2088511844407314
seller_id=2088511844407314
seller_user_id=2088511844407314

# EMAIL
email=name@host.com
seller_account_name=name@host.com

_input_charset=utf-8

#notify_url=
#return_url=

# You can also fill other required but annoying parameter here.
# Parameters passed by config file WILL BE OVERRIDED by it passed inline.

# After all, don't forget to change filename to alipay.properties ^_^
